In [10]:
%pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from seaborn) (1.26.2)
Requirement already satisfied: pandas>=1.2 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.1.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from seaborn) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.45.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.1.1)
Requirement already satisfied: pytz>=2020.1 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: zipp>=3.1.0 in /Users/adhritdevineni/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.17.0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.15.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 677.4 kB/s eta 0:00:00a 0:00:01
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [11]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [23]:
names_df = pd.read_csv('MTeams.csv')
results_tournament_df = pd.read_csv('MNCAATourneyDetailedResults.csv')
results_regular_df = pd.read_csv('MRegularSeasonDetailedResults.csv')

display(names_df,results_tournament_df,results_regular_df)

     TeamID        TeamName  FirstD1Season  LastD1Season
0      1101     Abilene Chr           2014          2025
1      1102       Air Force           1985          2025
2      1103           Akron           1985          2025
3      1104         Alabama           1985          2025
4      1105     Alabama A&M           2000          2025
..      ...             ...            ...           ...
375    1476       Stonehill           2023          2025
376    1477  East Texas A&M           2023          2025
377    1478        Le Moyne           2024          2025
378    1479      Mercyhurst           2025          2025
379    1480    West Georgia           2025          2025

[380 rows x 4 columns]

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1377,2024,146,1301,76,1181,64,N,0,28,60,...,20,21,26,10,27,11,9,4,5,23
1378,2024,146,1345,72,1397,66,N,0,24,53,...,26,7,11,6,17,17,6,8,4,25
1379,2024,152,1163,86,1104,72,N,0,31,62,...,23,9,11,7,21,9,7,2,5,15
1380,2024,152,1345,63,1301,50,N,0,22,55,...,19,3,4,6,22,10,11,8,3,13
1381,2024,154,1163,75,1345,60,N,0,30,62,...,7,11,15,8,19,8,9,3,3,15

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117743,2025,106,1461,69,1102,62,H,0,25,54,...,23,9,17,2,24,12,8,3,3,24
117744,2025,106,1462,76,1139,63,H,0,29,68,...,23,9,14,4,31,12,20,5,2,12
117745,2025,106,1466,80,1480,62,H,0,28,55,...,18,4,8,6,23,13,13,2,2,18
117746,2025,106,1468,94,1122,68,H,0,36,58,...,32,17,22,7,22,12,10,2,5,17
117747,2025,106,1474,89,1146,72,H,0,28,52,...,23,16,18,5,19,9,15,5,0,17

In [27]:
results_regular_df['MOV'] = results_regular_df['WScore'] - results_regular_df['LScore']
for col in results_regular_df.iloc[:,8:34].columns:
    print(f'{col}: {results_regular_df['MOV'].corr(results_regular_df[col])}')

SyntaxError: f-string: unmatched '[' (3797489498.py, line 3)

In [19]:
import pandas as pd


wins = results_df.groupby(['Season', 'WTeamID']).size().reset_index(name='Wins')
losses = results_df.groupby(['Season', 'LTeamID']).size().reset_index(name='Losses')

team_results = pd.merge(wins, losses, left_on=['Season', 'WTeamID'], right_on=['Season', 'LTeamID'], how='outer').fillna(0)

# Clean up the merged DataFrame
team_results['TeamID'] = team_results['WTeamID'].where(team_results['WTeamID'] != 0, team_results['LTeamID'])
team_results = team_results.drop(columns=['WTeamID', 'LTeamID'])

team_results['TotalGames'] = team_results['Wins'] + team_results['Losses']

team_results['WinPercentage'] = (team_results['Wins'] / team_results['TotalGames']) * 100

results_df = pd.merge(results_df, team_results[['Season', 'TeamID', 'WinPercentage']], left_on=['Season', 'WTeamID'], right_on=['Season', 'TeamID'], how='left')
results_df = results_df.rename(columns={'WinPercentage': 'WTeamWinPercentage'})
results_df = pd.merge(results_df, team_results[['Season', 'TeamID', 'WinPercentage']], left_on=['Season', 'LTeamID'], right_on=['Season', 'TeamID'], how='left')
results_df = results_df.rename(columns={'WinPercentage': 'LTeamWinPercentage'})
results_df = results_df.drop(columns=['TeamID_x', 'TeamID_y'])
print(results_df.head())

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  \
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

   WTeamWinPercentage  LTeamWinPercentage
0           50.000000                 0.0
1           66.666667                 0.0
2           83.333333                 0.0
3           50.000000                 0.0
4           50.000000                 0.0

In [15]:
wins

      Season  WTeamID  Wins
0       1985     1104     2
1       1985     1116     1
2       1985     1120     2
3       1985     1130     2
4       1985     1181     1
...      ...      ...   ...
1292    2024     1401     1
1293    2024     1429     1
1294    2024     1447     1
1295    2024     1450     1
1296    2024     1463     1

[1297 rows x 3 columns]